---
import { getCollection } from "astro:content";
import BaseLayout from "@components/base/BaseLayout.astro";
import Blocks from "@components/ui.content";
import { Image } from "astro:assets";
import type { Page, Store } from "@/markket";
import MagicLinkForm from "@components/auth/magic.form";

const pages = await getCollection("pages");

const magicPage = pages?.find((page) => page?.data?.slug == "auth.magic")
  ?.data as Page;

const storeEntry = (await getCollection("store"))?.[0];
const store = storeEntry?.data as unknown as Store;
---

<BaseLayout>
  <section class="about-page">
    <div class="container">
      <div class="row justify-center">
        <div class="text-center lg:col-6">
          {
            store?.Logo?.url && (
              <div class="blur-[0px]">
                <Image
                  class="mb-6 w-64"
                  src={store?.Logo?.url}
                  alt={store?.Logo?.alternativeText || store?.title}
                  width={180}
                  height={180}
                  loading="eager"
                />
              </div>
            )
          }
          <h1 class="mb-4">{store?.title}</h1>
          <div
            class="mb-8 mt-4 bg-white bg-opacity-90 rounded-sm text-left p-6"
          >
            <Blocks params={{ page: magicPage }} />

            <MagicLinkForm client:load store={store} page={magicPage} />
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
